<div class="container marketing" id="cont">


    <div class="row">

      <div  class="col-lg-4" >

        <img  class ="rounded-circle"  src="../../assets/5star.jpg" alt="5 Star Hotels"
          width="140" height= "140">

        <h2>Five Star Hotels</ h2>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>

       

      </div>

      <div class="col-lg-4" >

        <img class="rounded-circle"  src ="../../assets/tour.jpg"  alt = "Culture Tours"

          width="140"  height= "140">

        <h2>Guided Tours</h2>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>

  

      </div>

    
      <div class="col-lg-4"  >

        <img class= "rounded-circle"  src="'../../assets/back2.jpg"

    alt="Backpackers"  width= "140" height ="140">

        <h2>Backpacking in Nature</h2>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>

        

    </div>

    </div>
    </div>

